<%- include('partials/header') %>
<h1 class="text-3xl font-bold mb-4">Bem-vindo ao Meu Portfólio</h1>
<p>Sou desenvolvedor web com 15 anos de experiência, apaixonado por solucionar desafios com tecnologia e design. Atualmente trabalho Magento (Adobe Commerce Cloud), WordPress e Woocommerce e Node.js com foco em construção de projetos personalizados e de alta performance. Possuo familiaridade com backend, devops, arquitetura e ciclo de vida de software (concepção, lançamento e sustentação). Tenho olho aguçado para design pixel-perfect e atenção meticulosa aos detalhes.</p>
<%- include('partials/footer') %>


